<!DOCTYPE html>
<html  ng-app="hemoterapia.controllers">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="img/favicon.ico">

<title>Congreso de Hemoterapia</title>

<!-- Bootstrap core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<!-- Bootstrap theme -->
<link href="css/bootstrap-theme.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="css/theme.css" rel="stylesheet">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
	      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	    <![endif]-->
<script src="lib/angular/angular.js"></script>
<script src="lib/angular/angular-resource.js"></script>
<script src="lib/angular/angular-route.js"></script>
<script src="js/services.js"></script>
<script src="js/controllers.js"></script>
</head>

<body>
<!-- 	<div ng-controller="SearchPersonController as searchCtrl">
		<form name="search-person" novalidate="novalidate">
			<h3>B&uacute;squeda</h3>
			<label title="Name"> Nombre: <input type="text" id="name"
				ng-model="person.name" />
			</label> <br /> <label title="Surname"> Apellido: <input type="text"
				id="surname" ng-model="person.surname" />
			</label><br /> <input type="submit" value="Buscar"
				ng-click="getPersons(person)" />

		</form>
		        <div>
			<ul class="people">
				<li ng-repeat="a_person in gentes">
					{{a_person.name}}
					<p>{{a_person.companions}}</p>
				</li>
			</ul>
		</div>
 -->
	
       
	<div ng-controller="SearchPersonController as searchCtrl">
			<h3>B&uacute;squeda</h3>
			<form name="search-person" novalidate="novalidate" ng-submit="getPersons(person);resetForm();">
				<label title="Name"> Nombre: <input type="text" id="name" ng-model="person.name" />
				</label> <br /> 
				<label title="Surname"> Apellido: <input type="text" id="surname" ng-model="person.surname" />
				</label><br /> 
				<button class="btn btn-success" type="button"
                            ng-disabled="!person" ng-click="getPersons(person);resetForm();">Buscar
				</button>
			</form>            
        <!-- <my-search-results tablesdata="getResultsForTable()" completeTable="setResultsInTable()"></my-search-results> -->
       <my-search-results completeTable="setResultsForTable()"></my-search-results>
	</div>
</body>
</html>