<!doctype html>
<html ng-app="hemoterapia.controllers">
	<head>
		<script	src="lib/angular/angular.js"></script>
		<script	src="lib/angular/angular-resource.js"></script>
		<script src="js/services.js"></script>
		<script src="js/controllers.js"></script>
	</head>
	<body>
		<div ng-controller="DefaultPersonController">
			<hr>
			<h1>Bienvenido a la pagina de hemoterapia!</h1>
			<h3>
	        Result from RESTful service is: {{name + " " + surname}}
			</h3>
		</div>
		
		<div ng-controller= "SavePersonController as saveCtrl">
			<form name="register-person" novalidate="novalidate">
			
				<label title="Nombre"> Nombre:
				<input type="text" id="name" ng-model="person.name" />
				</label> 
				<label title="Apellido"> Apellido: 
				<input type="text" id="surname" ng-model="person.surname" />
				<input type="submit" value="Enviar" ng-click="savePerson(person)"/>
			</form>
		</div>
	</body>
</html>